{% assign default_paths = site.pages | map: "path" -%}
{% assign page_paths = site.header_pages | default: default_paths -%}

<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Apps By Kids
      </h1>
      <h2 class="subtitle">
        Helper content for the GEMS 2018 Coding Club
      </h2>
    </div>
  </div>
</section>

{% if page_paths --%}
<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-tab {% if page.url == '/' -%}is-active{% endif -%}" href="{{ "/" | relative_url }}">Home</a>
      <div class="navbar-burger burger" onclick="toggleBurger(this)">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="menu" class="navbar-menu">
      <div class="navbar-start">
{% for path in page_paths -%}
{% assign my_page = site.pages | where: "path", path | first -%}
{% if my_page.title -%}
        <a class="navbar-item is-tab {% if my_page.url == page.url -%}is-active{% endif -%}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
{% endif -%}
{% endfor -%}
      </div>
    </div>
  </div>
</nav>
{% endif -%}
