---
---

@import "bulma";

@media screen and (min-width: 1008px) {
  .title {
    font-size: 3.25rem;
  }
  .subtitle {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

th { width: 30%; }
th:first-of-type { width: 20%; }
th:last-of-type { width: 50%; }

.codez {
  white-space: pre;
  background-color: #333;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
  border: solid 1px #dce6f0;
  overflow: scroll;
  color: white;
}

.codez strong { color: #dda790; }
.codez em { color: #26d980; }
.content figure {
  text-align:left;
  margin: 0;
}

/* Codeschool vim color scheme for syntax highlighting */
figure.highlight pre { padding: 0; }
figure.highlight pre code { background: #333; color: #f0f0f0;}
.hll { background-color: #ffffcc }
.ge { text-decoration: underline;}
.gh, .gu { font-weight: bold;}
.gi { font-weight: bold; background-color: #43820d }
.gd { color: #880708;}
.go { color: #414e58; background-color: #232c31 }
.c, .cm, .c1, .cs { color: #9a9a9a; font-style: italic;}
.cp, .k, .kc, .kd, .kn, .kp, .kr { color: #dda790;}
.kt { color: #b5d8f6;}
.na, .nf { color: #bcdbff;}
.nt, .ow { color: #dda790;}
.m, .no, .mf, .mh, .mi, .mo, .il { color: #3c98d9;}
.s, .nl, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { color: #8bb664;}
.nv, .vc, .vg, .vi { color: #99cf50;}

@media screen and (max-width: 768px) {
  body .content {
  font-size: .7rem;
}

  .codez {
    font-size: .7rem;
  }
}

a blockquote {
  color: $link-hover
}
