<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html -%}

  <body>

{% include header.html -%}

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="content">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>

{% include footer.html -%}

  </body>

</html>
