---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}
          <blockquote>
            {{ post.excerpt }}
          </blockquote>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
